.project {
  position: relative;
  height: 280px;
  width: 90%;
  background-color: $light-color;
  margin: 10px;

  @media all and (min-width: 400px) {
    height: 300px;
    width: 350px;
  }

  @media all and (min-width: 768px) {
    height: 450px;
    width: 500px;
  }

  &:hover {
    .project__imgContainer {
      height: 0%;
      transition: 1s ease-in-out;
    }
  }

  &__imgContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65%;
    transition: 1s ease-in-out;

    @media all and (min-width: 768px) {
      height: 75%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    color: $dark-color;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;

    @media all and (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__description {
    color: $dark-color;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 12px;

    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__hiddenInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media all and (min-width: 768px) {
      justify-content: center;
    }
  }

  &__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    :first-child {
      margin-right: 30px;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;

    @media all and (min-width: 768px) {
      height: 30px;
      width: 30px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-color: $light-color;
    position: absolute;
    bottom: 0;
    padding: 30px;
    z-index: -1;

    &:hover {
      transition: ease-in 0.5s;
      height: 100%;

      .project__description {
        display: block;
      }

      .project__icon {
        display: inline-block;
      }
    }
  }

  &__skills {
    display: flex;
  }
}
