.project {
  position: relative;
  height: 600px;
  width: 600px;
  background-color: $light-color;
  margin: 10px;

  &__imgContainer {
    height: 400px;
    background-color: lightgrey;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    color: $dark-color;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__description {
    display: none;
    color: $dark-color;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
  }

  &__icons {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  &__icon {
    display: none;
    height: 40px;
    width: 40px;
  }

  &__info {
    height: 30%;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    padding: 30px;

    &:hover {
      transition: ease-in 0.5s;
      height: 100%;

      .project__description {
        display: block;
      }

      .project__icon {
        display: inline-block;
      }
    }
  }

  &__skills {
    display: flex;
  }
}
