.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;

  &__type {
    color: $primary-color;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }
}
