.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background-color: $light-color;
  z-index: 9999;

  &__heading {
    font-size: 40px;
    margin: 0px;

    @media all and (min-width: 768px) {
      font-size: 70px;
    }
  }

  &__position {
    display: block;
    color: $primary-color;
  }

  &__carousel {
    font-size: 35px;
    margin: 0px;

    @media all and (min-width: 768px) {
      font-size: 60px;
    }
  }

  &__likes {
    color: $secondary-color;
  }

  &__linksContainer {
    display: flex;
    margin-top: 30px;
    padding: 0px;
    list-style-type: none;
  }

  &__heroLink {
    list-style-type: none;
  }

  &__socialNetwork {
    margin-left: 30px;
  }
}

.skewed {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: $secondary-color;
  transform: skewY(-8deg);
  transform-origin: top left;
}
