.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background-color: $light-color;
  z-index: 9999;

  &__heading {
    font-size: 20px;
    margin: 0px;
    height: 75px;

    @media all and (min-width: 768px) {
      font-size: 60px;
      line-height: 64px;
      height: auto;
    }
  }

  &__position {
    display: block;
    color: $primary-color;
  }

  &__likes {
    color: $secondary-color;
  }

  &__socialNetwork {
    margin-left: 30px;
  }
}

.skewed {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: $secondary-color;
  transform-origin: top left;
  animation-name: initial-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform: skewY(-8deg);
}

@keyframes initial-animation {
  from {
    transform: skewY(0deg);
  }
  to {
    transform: skewY(-8deg);
  }
}
