.contact {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  margin-top: 40px;
  padding: 60px 0px 0px 40px;

  &__heading {
    font-size: 20px;
    color: $primary-color;

    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__text {
    margin-top: 24px;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 12px;
    line-height: 175%;
    width: 80%;

    @media all and (min-width: 768px) {
      font-size: 18px;
      width: 70%;
    }
  }

  &__linkContainer {
    margin-top: 24px;
  }

  &__mailLink {
    font-size: 20px;
    text-decoration: none;
    color: inherit;

    @media all and (min-width: 768px) {
      font-size: 24px;
    }

    &:hover {
      background-color: $secondary-color;
      padding-left: 20px;
      padding-right: 20px;
      transition: 1s ease-in-out;
    }
  }
}
